<!-- CRUD ANGULAR PHP Y MYSQL -->
<div class="container">
  <h2>CRUD ANGULAR PHP Y MYSQL</h2>
  <div class="col-md-8 mt-4">
    <div class="card">
      <div class="card-body">
        <div class="container">
          <h2>Administración de artículos</h2>
          <table class="table tablehover" *ngIf="hayRegistros(); else sinarticulos">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>proveedor</th>
                <th>fabricante</th>
                <th>Borrar</th>
                <th>Seleccionar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let art of articulos">
                <td>{{art.codigo}}</td>
                <td>{{art.descripcion}}</td>
                <td>{{art.precio}}</td>
                <td>{{art.proveedor}}</td>
                <td>{{art.fabricante}}</td>
                <td><button (click)="baja(art.codigo)" class="btn btn-danger">Borrar</button></td>
                <td><button (click)="seleccionar(art.codigo)" class="btn btn-warning">Seleccionar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #sinarticulos>
          <p>No hay articulos.</p>
        </ng-template>
        <div>
          <div class="form-group">
            <input type="text" [(ngModel)]="art.descripcion"
              placeholder="descripcion" required #descripvalid="ngModel" class="form-control" />
            <p class="text-danger" *ngIf="descripvalid.invalid">la descripcion es requerida</p>
          </div>
          <div class="form-group">
            <input type="number" min="0" step=".01" [(ngModel)]="art.precio"
              placeholder="precio" required #preciovalid="ngModel" class="form-control" />
            <p class="text-danger" *ngIf="preciovalid.invalid">El precio es requerido</p>
          </div>
          <div class="form-group">
            <input type="text" required [(ngModel)]="art.proveedor" placeholder="proveedor" class="form-control"
              #proveedorvalid="ngModel" />
            <p class="text-danger" *ngIf="proveedorvalid.invalid">El proveedor es requerido</p>
          </div>
          <div class="form-group">
            <input type="text" required [(ngModel)]="art.fabricante" placeholder="fabricante" #fabricantevalid="ngModel" class="form-control" />
            <p class="text-danger" *ngIf="fabricantevalid.invalid">El fabricante es requerido</p>
          </div>
          <div *ngIf="descripvalid.valid && preciovalid.valid && proveedorvalid.valid && fabricantevalid.valid">
            <button (click)="alta()" *ngIf="art.codigo == 0" class="btn btn-primary btn-space">Agregar</button>
          </div>
          <button (click)="modificacion()" *ngIf="art.codigo !== 0" class="btn btn-warning">Modificar</button>
        </div>
      </div>
    </div>
  </div>
</div>